

#main .nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #7a7ac299;
  align-items: center;

}

#main .nav .logo {
  font-family: 'Island Moments', cursive;
  font-size: 3rem;
}


#main .search,
#main .new {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  max-width: 480px;
  background-color: #7a7ac299;
  padding: .5rem;
  gap: .5rem;
  border-radius: .3rem;
}

#main label {
  flex-shrink: 0;
}

#main input {
  width: 100%;
}

#main .repositories {
  max-width: 480px;
  margin: 2rem auto;
}

#main .repositories .title {
  font-size: 2rem;
  text-align:  center;
}

#main .repositories .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main .repositories .item {
  display: flex;
  align-items: center;
  background-color: #7a7ac299;
  border-bottom: .1rem solid #7a7ac299;
  padding: .5rem;
  border-radius: .3rem;
}

#main .repositories .item:last-child {
  border-bottom: none;
}

#main .repositories .item .info {
  flex: 1;
}

#main .repositories .item .name {
  font-size: 1.5rem;
}